LETTERBOXD_USERNAME=your_letterboxd_username
TMDB_API_KEY=your_tmdb_api_key
SQLITE_PATH=data/project_toto.db
LETTERBOXD_MAX_PAGES=5
RADARR_ENABLED=false
RADARR_URL=http://localhost:7878
RADARR_API_KEY=your_radarr_api_key
RADARR_ROOT_FOLDER=/data/media/movies
RADARR_QUALITY_PROFILE_ID=1
RADARR_MONITORED=true
RADARR_SEARCH_ON_ADD=false
RADARR_DRY_RUN=true
JUSTWATCH_ENABLED=true
JUSTWATCH_COUNTRY=IN
JUSTWATCH_LANGUAGE=en
JUSTWATCH_REFRESH_HOURS=168
JUSTWATCH_MAX_RESULTS=3
JUSTWATCH_BEST_ONLY=true
